{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="{{ url_for('main.home')}}">
                            <img src="https://img.icons8.com/material-sharp/24/home.png" alt="home" />
                            홈
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('diary._list')}}">
                            <img src="https://img.icons8.com/ios-filled/24/friends.png" alt="friends" />
                            일기 게시판
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.notice')}}">
                            <img src="https://img.icons8.com/material-rounded/24/alarm.png" alt="notifications icon">
                            알림
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.profile')}}">
                            <img src="https://img.icons8.com/windows/24/admin-settings-male.png" alt="profile icon">
                            프로필
                        </a>
                    </li>
                    <li>
                        <img src="https://img.icons8.com/material-sharp/24/settings.png" alt="settings icon">
                        설정
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content my-3">
                <!-- 일기쓰기 버튼을 테이블 위에 배치 -->
                <!-- 버튼 색상을 연한 회색으로 변경 -->
                <div class="d-flex justify-content-end mb-2">
                    <a href="{{ url_for('diary.create') }}" class="btn btn-light">일기쓰기</a>
                </div>
                <!-- 목록 크기를 화면 크기에 맞게 조정 -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="table-pink">
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일시</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if diary_list %}
                            {% for diary in diary_list.items %}
                            <tr>
                                <td>{{ diary_list.total - ((diary_list.page-1) * diary_list.per_page) - loop.index0 }}</td>
                                <td>
                                    <a href="{{ url_for('diary.detail', diary_id=diary.id) }}">{{ diary.subject }}</a>
                                    {% if diary.answer_set|length > 0 %}
                                    <span class="text-danger small mx-2">{{ diary.answer_set|length }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ diary.create_date|datetime }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">일기가 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- 페이징 처리 부분을 테이블 아래로 이동 -->
                <!-- 페이지네이션 색상을 연한 회색으로 변경 -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 이전 페이지 -->
                        {% if diary_list.has_prev %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="?page={{ diary_list.prev_num }}">이전</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link text-secondary" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
                        </li>
                        {% endif %}
                        <!-- 페이지 번호 -->
                        {% for page_num in diary_list.iter_pages() %}
                        {% if page_num %}
                        {% if page_num != diary_list.page %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link bg-light" href="javascript:void(0)">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link text-secondary" href="javascript:void(0)">...</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!-- 다음 페이지 -->
                        {% if diary_list.has_next %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="?page={{ diary_list.next_num }}">다음</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link text-secondary" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
