{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="main-content mx-auto" style="max-width: 800px;">

        <!-- 일기 -->
        <div class="diary-entry my-3">
            <h2 class="border-bottom py-2">{{ diary.subject }}</h2>
            <div class="badge bg-info text-white my-2 p-2">
                {{ diary.weather }} <!-- 날씨 정보 표시 -->
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ diary.content }}</div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2">
                            {{ diary.create_date|datetime }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 댓글 목록 -->
        <div class="comments-section my-3">
            <h5 class="border-bottom my-3 py-2">{{ diary.answer_set|length }}개의 댓글이 있습니다.</h5>
            {% for answer in diary.answer_set %}
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2">
                            {{ answer.create_date|datetime }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 댓글 쓰기 -->
        <div class="comment-form my-3">
            <form action="{{ url_for('answer.create', diary_id=diary.id) }}" method="post" class="my-3">
                {{ form.csrf_token }}
                <!-- 오류표시 Start -->
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items() %}
                    <strong>{{ form[field].label }}</strong>
                    <ul>
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- 오류표시 End -->
                <div class="mb-3">
                    <textarea name="content" id="content" class="form-control" rows="5"></textarea>
                </div>
                <input type="submit" value="댓글달기" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}
