<!doctype html>
<html lang="ko">
<head>
    <style>
        .text-pink {
            color: #ff69b4;
        }
        .bg-pink {
            background-color: #ff69b4;
        }
        .btn-pink {
            background-color: #ff69b4;
            border-color: #ff69b4;
        }
        .btn-pink:hover {
            background-color: #ff1493;
            border-color: #ff1493;
        }
        .table-pink th {
        background-color: #ffcccb; /* 핑크색 배경 */
        color: #000; /* 검정색 글자 */
        }

    </style>    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>